<html xmlns:th="http://www.thymeleaf.org">
<head>
	<linkrel="stylesheet" th:href="@{/resources/css/main.css}"/>
	<metacharset="utf-8">
	<title>Création d'animal</title>
</head>
<body>
	<h1>Création d'animal</h1>
	<form th:object="${animal}" th:action="@{/animal}" method="post">
		<input type="hidden" th:field="*{id}"/>
		<div>
			<label for="name">Nom : </label>
			<input type="text" th:field="*{name}" id="name"/>
			<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span>
		</div>
		<div>
			<label for="color">Couleur :</label>
			<input type="text" th:field="*{color}" id="color"/>
			<span th:if="${#fields.hasErrors('color')}" th:errors="*{color}">Error</span>
		</div>
		<div>
			<label for="sex">Sexe :</label>
			<select th:field="*{sex}" id="sex">
				<option th:each="sx:${sexList}" th:value="${sx}" th:text="${sx}"></option>
			</select>
			<span th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}">Error</span>
		</div>
		<div>
			<label for="species">Espèce :</label>
			<select th:field="*{species}" id="species">
				<option th:each="sp:${speciesList}" th:value="${sp.id}" th:text="${sp.commonName}"></option>
			</select>
			<span th:if="${#fields.hasErrors('species')}" th:errors="*{species}">Error</span>
		</div>
		<div>
			<input type="submit" class="button" value="Sauver"/>
			<input type="button" class="button" value="Retour" onclick="window.location='/animal'"/>
		</div>
	</form>
</body>