<html xmlns:th="http://www.thymeleaf.org">
<head>
	<linkrel="stylesheet" th:href="@{/resources/css/main.css}"/>
	<metacharset="utf-8">
	<title>Création d'espèce</title>
</head>
<body>
	<h1>Création d'espèce</h1>
	<form th:object="${species}" th:action="@{/species}" method="post">
		<input type="hidden" th:field="*{id}"/>
		<div>
			<label for="commonName">Nom commun : </label>
			<input type="text" th:field="*{commonName}" id="commonName"/>
			<span th:if="${#fields.hasErrors('commonName')}" th:errors="*{commonName}">Error</span>
		</div>
		<div>
			<label for="latinName">Nom latin :</label>
			<input type="text" th:field="*{latinName}" id="latinName"/>
			<span th:if="${#fields.hasErrors('latinName')}" th:errors="*{latinName}">Error</span>
		</div>
		<div>
			<input type="submit" class="button" value="Sauver"/>
			<input type="button" class="button" value="Retour" onclick="window.location='/species'"/>
		</div>
	</form>
</body>